/* Estilo Header */

.logo{
    width: 50px;
    height: 60px;
}

.colorNav{
    background-color:white;
}

.letraGrande a{
    font-size: 20px;
  
}

li{
    margin-left: 1.5rem;
}

.colorButton {
    background-color: darkgoldenrod;
}

/* Estilo main */

.titulo{
    margin-bottom: 50px;  
    padding: 15px;
    color:dimgray;
    border-bottom: 2px darkgoldenrod solid;
    text-align: center;
   /* font-style: italic; */
    font-weight: normal;
}
/* estilo cards */
.card{
    margin: 5px;
}

/* Estilo Imagenes */
.imgDestacadas {

    justify-content: space-between;
    border-radius: 8px;
    margin: 15px;
    border: 2px darkgoldenrod solid;
}
.centrar {
    justify-content: center;

}



/* Estilo Footer */

.copyRight span{
    color: rgb(43, 41, 41);
}

.colorFooter{
    background-color: rgb(202, 164, 67);
}